.navbar {
  height: auto;
  background-color: var(--white);
  padding: 0 1rem;
}

.navbarNav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.navItem {
  width: calc(60px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navDetail {
  --button-size: calc(60px * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  //   background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: filter 300ms;
  text-decoration: none;
}
